@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Noto sans';
    background-color: #b5e1f7;
    text-align: center;
    color: #01068a;
}

.pfp{
    border-radius: 100%;
    height: 256px;
}

@media only screen and (min-width: 594px){
    .name{
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 3rem;
        font-weight: 700;
    }
    
    .compdisc{
        margin-block-start: 0px;
        margin-block-end: 12px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .sec-head{
        font-size: 2rem;
        font-weight: 600;
    }
}

@media only screen and (max-width: 594px){
    .name{
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 8vw;
        font-weight: 700;
    }
    
    .compdisc{
        margin-block-start: 0px;
        margin-block-end: 12px;
        font-size: 4vw;
        font-weight: 400;
    }

    .sec-head{
        font-size: 5vw;
        font-weight: 600;
    }
}

.logo{
    height: 48px;
    border-radius: 25%;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
}

.ver_space{
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.release-box{
    display: flex;
    border-radius: 2rem;
    background-color: white;
    height: 12vw;
}

.release-box:hover{
    background-color: #f4fcff;
    box-shadow: 2rem;
}

@media only screen and (min-width: 992px){
    .col-div-3{
        columns: 3;
        display: block;
    }
    .release-box{height: 12vw;}

    .col-div-2{display: none;}
}

@media only screen and (min-width: 600px) and (max-width:992px){
    .col-div-2{
        columns: 2;
        display: block;
    }
    .release-box{height: 16vw;}

    .col-div-3{display: none;}
}

