@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Noto sans';
    background-color: #b5e1f7;
    text-align: center;
    color: #01068a;
}

a{
    text-decoration: none;
    color: inherit;
}

.pfp{
    border-radius: 100%;
    height: 256px;
}

@media only screen and (min-width: 594px){
    .name{
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 3rem;
        font-weight: 700;
    }
    
    .compdisc{
        margin-block-start: 0px;
        margin-block-end: 12px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .sec-head{
        font-size: 2rem;
        font-weight: 600;
    }
}

@media only screen and (max-width: 594px){
    .name{
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 8vw;
        font-weight: 700;
    }
    
    .compdisc{
        margin-block-start: 0px;
        margin-block-end: 12px;
        font-size: 4vw;
        font-weight: 400;
    }

    .sec-head{
        font-size: 5vw;
        font-weight: 600;
    }
}

.logo{
    height: 48px;
    border-radius: 25%;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
}

.ver-space{
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.hor-space{
    margin-left: 16px;
    margin-right: 16px;
}

.release-box{
    display: flex;
    border-radius: 2vw;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.release-box:hover{
    background-color: #f4fcff;
    box-shadow: 2rem;
}

.cent{justify-content: center;}

.ver-cent{
    vertical-align: center;
}

.marg-1{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.rel-head{
    margin-block-start: 0.75vw;
    margin-block-end: 0px;
    font-size: 2vw;
    font-weight: 700;
}

.rel-txt{
    margin-block-start: 0.5vw;
    margin-block-end: 0.75vw;
    font-size: 1.25vw;
    font-weight: 400;
}

.rel-subtxt{
    margin-block-start: 0.5vw;
    font-size: 1vw;
    font-weight: 300;
}

.rel-woo{
    margin-block-end: 0px;
    font-size: 2vw;
    font-weight: 600;
}

.al-l{
    text-align: left;
}

@media only screen and (min-width: 992px){
    .col-div-3{display: flex;}
    .release-box{
        height: 12vw;
        width: 33%;
    }
    .col-div-2{display: none;}
    .col-no{display: none;}
    .alb{
        height: 10vw;
    }
}

@media only screen and (min-width: 500px) and (max-width:992px){
    .col-div-2{display: flex;}
    .release-box{
        height: 16vw;
        width: 50%;
    }
    .col-div-3{display: none;}
    .col-no{display: none;}
    .alb{
        height: 14vw;
    }
    .rel-head{font-size: 3vw;}
    .rel-txt{font-size: 2vw;}
    .rel-subtxt{font-size: 1.5vw;}
    .rel-woo{font-size: 3vw;}
}

@media only screen and (max-width: 500px){
    .col-no{display: block;}
    .release-box{
        height: 32vw;
        width: 100%;
        margin-block-start: 16px;
        margin-block-end: 16px;
    }
    .col-div-3{display: none;}
    .col-div-2{display: none;}
    .alb{
        height: 30vw;
    }
    .rel-head{font-size: 5.5vw;}
    .rel-txt{font-size: 4vw;}
    .rel-subtxt{
        font-size: 3vw;
        margin-block-start: 1.25vw;
    }
    .marg-1{margin-right: 2vw;}
    .rel-woo{font-size: 5.5vw;}
}

.text-container{
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25vw;
}

@media only screen and (min-width: 1500px){
    .text-container{
        max-width: 1200px;
        font-size: 18.75px;
    }
}

.yap{
    text-align: justify;
    text-indent: 3vw;
}